{
    "feature-catalogue": [
        {
            "feature" : "arch",
            "description" : "architecture feature",
			"type" : "str-list",
            "provide-one-required" : [ "x86", "arm" ].
        },
        {
            "feature" : "foo",
			"type" : "bool",
            "description" : "foo feature, enabled or not enabled"
        },
        {
            "feature" : "bar",
			"type" : "bool",
            "description" : "bar feature can only be enabled if foo is enabled, if enabled it will also enable foo",
            "selects" : [ "foo" ]
        },
        {
            "feature" : "fooval",
			"type" : "int",
			"type-range-inclusive": [ 2, 10 ],
            "description" : "bax feature"
        }
    ],

    "predefined-feature-sets" : {
        "spec-a" : [ {"arch" : "x86" }, { "foo" : "enable" }, { "foovar" : "1" } ],
        "spec-b" : [ "foo", "bax" ]
    }
}
