{
    "feature-catalogue": [
        {
            "feature" : "arch",
            "description" : "architecuture feature",
            "provide-one-required" : [ "X86", "ARM" ].
        },
        {
            "feature" : "foo",
            "description" : "foo feature"
        },
        {
            "feature" : "bar",
            "description" : "bar feature",
            "depends-on" : [ "foo" ]
        },
        {
            "feature" : "bax",
            "description" : "bax feature"
        }
    ],

    "predefined-feature-sets" : {
        "spec-a" : [ "foo" ],
        "spec-b" : [ "foo", "bax" ]
    }
}
